h1{color: #E80707; font-size: 70; font-family: cursive; text-decoration: underline; font-style: italic}
body{ background-color: #1E0082; }
p{ font-size: 30; color: white} 
a {color: white; font-size: 10px;} 
#choice{font-size:30px; }